extends layout

block content
  h1= title
  - var zipper = results;
  - let destination1 = `dispatch(\"/zipper/create\")`
  button.btn( class="btn btn-secondary", onclick= destination1) Create
  div(class="container_fluid")
    each item, index in zipper
     - let destination2 = `dispatch(\"/zipper/update?id=${item._id}\")`
     - let destination3 = `dispatch(\"/zipper/delete?id=${item._id}\")`
     - let destination4 = `dispatch(\"/zipper/detail?id=${item._id}\")`
        div(class="row" onclick = `buy(${index})`)       
            div(class="col-sm-2") #{item.zipper_type}
            div(class="col-sm-2") #{item.zipper_name}
            div(class="col-sm-2") #{item.zipper_cost}
        button.btn( class="btn btn-dark ml-1", onclick= destination2) Update
        button.btn( class="btn btn-primary", onclick= destination4) Details
        button.btn( class="btn btn-light", onclick= destination3) Delete

  script.
   function dispatch(path){
    window.location.href=path
   }
  script.
      function buy(indxnum){
        alert('You purchased item'+ indxnum)
      }