extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to detail
 else
  - let zipperid = toShow._id
  - let zipper_type = toShow.zipper_type
  - let zipper_name = toShow.zipper_name
  - let zipper_cost = toShow.zipper_cost
  div
   div.row
    div(class='zipperAttr mr-3') zipper ID is:
    div #{zipperid}
   div.row
    div(class='zipperAttr mr-3') zipper Type is:
    div #{zipper_type}
   div.row
    div(class='zipperAttr mr-3') zipper Name is:
    div #{zipper_name}
   div.row
    div(class='zipperAttr mr-3') zipper Cost is:
    div #{zipper_cost}